@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #000;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  background-color: #000;
  color: white;
}

.top-section {
  width: 100%;
  text-align: center;
  padding: 50px 0 30px;
  background-color: #111;
}

.top-section h1 {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}

.top-section p {
  margin: 5px 0 0;
  font-size: 14px;
  opacity: 0.8;
}

.form-container {
  background-color: #f5f6f8;
  width: 90%;
  max-width: 360px;
  border-radius: 25px 25px 0 0;
  padding: 30px 25px 50px;
  color: #000;
  text-align: left;
  position: relative;
  flex-grow: 1;
}

.form-container h2 {
  font-size: 20px;
  margin: 0;
  font-weight: 600;
}

.form-container p {
  font-size: 13px;
  color: #555;
  margin: 5px 0 20px;
}

input {
  width: 100%;
  background-color: #e6e7eb;
  border: none;
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 12px;
  font-size: 14px;
  outline: none;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}

.conectar {
  background-color: #111;
  color: #fff;
}

.registrar {
  background-color: #111;
  color: #fff;
}

.voltar {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 18px;
  color: #000;
  cursor: pointer;
}
