header {
  text-align: left;
  padding: 15px;
  position: relative;
  z-index: 3;
}

header h1 {
  font-size: 22px;
  margin: 0;
}

header p {
  font-size: 13px;
  opacity: 0.8;
  margin-top: 3px;
}

.header-top {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

/* seta de voltar mais bonita */
.seta-voltar {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  transition: 0.3s ease;
}

.seta-voltar:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* deixa o título centralizado REAL */
.header-top h1 {
  flex: 1;
  text-align: center;
  margin-right: 28px; /* compensa o espaço da seta e centraliza */
}

header p {
  text-align: center;
  width: 100%;
  margin-top: 4px;
}


.organization-container {
  background-color: #141414;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.organization-container h1 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.organization-container p {
  font-size: 0.95rem;
  color: #ddd;
  margin-bottom: 1rem;
}

form {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

input {
  background-color: #e0e0e0;
  border: none;
  border-radius: 0.5rem;
  padding: 0.9rem;
  font-size: 0.95rem;
  outline: none;
}

.btn {
  background-color: #f6f6f6;
  border: none;
  border-radius: 0.5rem;
  padding: 0.9rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.card {
  background-color: #f6f7f8;
  color: #000;
  border-radius: 1.5rem;
  width: 280px;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card h2 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.btn-black {
  background-color: #141414;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.9rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
}

.btn-black:hover {
  background-color: #000;
}
