/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #ffffff !important;
  --bg-dark: #111111 !important;
  --card-bg: #1e1e1e !important;
  --accent: #f2f2f2 !important;
}

body {
  margin: 0 !important;
  font-family: 'Poppins', sans-serif !important;
  background-color: var(--bg-dark) !important;
  color: var(--primary) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100vh !important;
}

button {
  cursor: pointer !important;
}

input {
  outline: none !important;
}

html, body {
  max-width: 412px !important;
  max-height: 995px !important;
  margin: 0 auto !important;
}
