/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #ffffff;
  --bg-dark: #111111;
  --card-bg: #1e1e1e;
  --accent: #f2f2f2;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-dark);
  color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
button {
  cursor: pointer;
}
input {
  outline: none;
}

html, body {
  max-width: 400px;
  margin: 0 auto;
}

